:root{
    --main-background: rgba(5, 0, 20, 0.55);
    --lemon-green: rgb(120 255 120);
    --white-background:#fff;
    --white-color:#fff;
    --red-color:#f00;
    --bold-color:rgb(5 0 20);
}

.app{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.app::after{
    position: absolute;
    content:'';
    width:100%;
    height:100%;
    background-color: var(--main-background);
    top:0;
    left:0;
}





.app > h1{
    color:var(--lemon-green);
    position: relative;
    z-index: 2;
}

.app > div{
    position: relative;
    z-index: 2;
    min-height: 200px;
    width: max(50%,350px);
    background-color:var(--white-background) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:20px;
}

.welcomeDiv{
    padding:10px;
}

.welcomeDiv > h2{
    text-align: center;
    color:var(--bold-color);
}

.welcomeDiv > p{
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
}

.welcomeDiv > div{
    text-align: center;
    padding:20px 0;
}

.deployerOrAttacher{
    width:100%;

}

.deployerOrAttacher > h2{
    text-align: center;
}

.deployerOrAttacher > p{
    text-align: center;
}

.deployerOrAttacher > div{
    width:100%;
    display: flex;
    justify-content: center;
    gap:50px;

}

.deployDiv{
    display:flex;
    flex-direction:column;
    gap:10px;
    width:100%;
}
.deployDiv > p{
    width:100%;
    text-align: center;
    margin:0;
}

.deployDiv > div{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.deployDiv > div > input{
    max-width:300px;
    border-radius: 5px;
    padding:5px 10px;
    border:1px solid grey;
    outline:none;
    font-size: 17px;
}

